.homework03-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 50px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 31px;
    min-width: 600px;
    padding: 60px;
    border: 3px solid rgb(27, 43, 214); 
}