.animal-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-width: 300px;
    background-color: antiquewhite;
    border-radius: 12px;
    font-size: 24px;
    padding: 20px;
}
.animal-card-wrapper > img {
    width: 100px;
}