.profile-card-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-width: 300px;
    padding: 20px;
    background-color: rgb(127, 103, 71);
    border: 5px solid rgb(32, 28, 28);
    border-radius: 10px;
    font-size: 24px;
}

.profile-card-wrapper > img{
    width: 150px;
}